.categories{
    font-family: 'Copperplate';
    font-weight: bold;
}
.categories span{
    font-family: 'Copperplate';
    color: #466D1D;
}
.category{
    display: inline-block;
    /* position: relative;
    align-items: center;
    top: 150px;
    display: inline-block;
    margin-left: 80px;
    height: 30px;
    border-radius: 10px; */
}