  <div *ngFor="let product of products">
    <h3>
      <a
        [title]="product.name + ' details'"
        [routerLink]="['/products', product.id]"
      >
        {{ product.name }}
      </a>
    </h3>

    <div class="product-list-img">
      <img src="{{ product.img }}" class=".img" width="180" />
    </div>

    <p *ngIf="product.description">Description: {{ product.description }}</p>

    <p *ngIf="product.rating">★★★★★ {{ product.rating }}</p>
    <a href="{{ product.link }}" target="_blank" class="but">
      <button type="button">Shop</button>
    </a>

    <app-product-alerts [product]="product" (notify)="onNotify()">
    </app-product-alerts>
    <a
      target="_blank"
      style="position: relative;"
      href="https://t.me/share/url?url={{
        product.link
      }}&text={Share by telegram}"
    >
      <button>Share on Telegram</button>
    </a>
    <button class="delete" (click)="removeProduct(product.id)">remove</button>
    <button class="like" (click)="likedProducts(product)">like {{product.numOfLikes}}</button>
    </div>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
